<div class="body">
    <div class="wrapper">
        <div class="rippedPaper">
            <div class="paperSnipped positionYellow">
                <div class="paperSnippedYellow">
                    <img src="../../assets/img/about-me-section/Ripped-paper-yellow.png">
                </div>
                <div class="paperSnippedText paperSnippedTextYellow">
                    <img class="paperSnippedImg" src="../../assets/img/about-me-section/based-snipped-icon.png">
                    <p>{{"ABOUT_ME.BASED" | translate}}</p>
                </div>
            </div>
            <div class="paperSnipped positionBlue">
                <div class="paperSnippedBlue">
                    <img src="../../assets/img/about-me-section/Ripped-paper-blue.png">
                </div>
                <div class="paperSnippedText paperSnippedTextBlue">
                    <img class="paperSnippedImg" src="../../assets/img/about-me-section/relocate-snipped-icon.png">
                    <p>{{"ABOUT_ME.MOVE" | translate}}</p>
                </div>
            </div>
            <div class="paperSnipped positionOrange">
                <div class="paperSnippedOrange">
                    <img src="../../assets/img/about-me-section/Ripped-paper-orange.png">
                </div>
                <div class="paperSnippedText paperSnippedTextOrange">
                    <img class="paperSnippedImg" src="../../assets/img/about-me-section/remote-snipped-icon.png">
                    <p>{{"ABOUT_ME.REMOTE" | translate}}</p>
                </div>
            </div>
        </div>
        <div class="textSection">
            <div class="aboutMeTextArea">
                <div class="title">
                    <p>{{"ABOUT_ME.WHO" | translate}}</p>
                    <h1>{{"ABOUT_ME.ABOUT" | translate}}</h1>
                    <div class="aboutMeUnderlineContainer">
                        <img src="../../assets/img/about-me-section/Blue line.png" alt="about me underline">
                    </div>
                </div>
                <span [style.white-space]="'pre-line'">
                    {{ 'ABOUT_ME.TEXT' | translate }}
                </span>
                <a [routerLink]="['']" [fragment]="'contact'">
                    <div class="letsTalkButton">
                        <span>{{"ABOUT_ME.TALK" | translate}}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>