<div class="body">
    <div class="rippedPaper">
        <div class="paperSnipped positionYellow">
            <div class="paperSnippedYellow">
                <img src="../../assets/img/about-me-section/Ripped-paper-yellow.png">
            </div>
            <div class="paperSnippedText paperSnippedTextYellow">
                <img class="paperSnippedImg" src="../../assets/img/about-me-section/based-snipped-icon.png">
                <p>Based in Mannheim</p>
            </div>
        </div>
        <div class="paperSnipped positionBlue">
            <div class="paperSnippedBlue">
                <img src="../../assets/img/about-me-section/Ripped-paper-blue.png">
            </div>
            <div class="paperSnippedText paperSnippedTextBlue">
                <img class="paperSnippedImg" src="../../assets/img/about-me-section/relocate-snipped-icon.png">
                <p>Open to Relocate</p>
            </div>
        </div>
        <div class="paperSnipped positionOrange">
            <div class="paperSnippedOrange">
                <img src="../../assets/img/about-me-section/Ripped-paper-orange.png">
            </div>
            <div class="paperSnippedText paperSnippedTextOrange">
                <img class="paperSnippedImg" src="../../assets/img/about-me-section/remote-snipped-icon.png">
                <p>Open to work Remote</p>
            </div>
        </div>
    </div>
    <div class="textSection">
        <div class="aboutMeTextArea">
            <div class="title">
                <p>Who's Justin</p>
                <h1>About me</h1>
                <div class="aboutMeUnderlineContainer">
                    <img src="../../assets/img/about-me-section/Blue line.png" alt="about me underline">
                </div>
            </div>
            <span>
                BEISPIELTEXT
                Hey there, I'm Karl. Write some information about yourself that is IT related.
                Why are you passionate about coding? What is your source of inspiration for improving your programming
                skills?
                Do you learn from each challenge as you search for the most efficient or elegant solution?
                <br><br>
                Let's collaborate and build something remarkable together!
            </span>
            <a href="#contact">
                <div class="letsTalkButton">
                    <span>Let's talk</span>
                </div>
            </a>
        </div>
    </div>
</div>