.body {
    display: flex;
    background-color: white;
    width: 100%;
    padding: 64px 0;
    gap: 32px;
    align-items: center;
}

.rippedPaper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paperSnippedYellow {
    position: absolute;
    z-index: 4;
    width: 100%;

    & img {
        width: 100%;
    }
}

.positionYellow {
    top: 64px;
}

.paperSnippedTextYellow {
    rotate: -4deg;
    position: absolute;
    bottom: 76px;
}

.paperSnippedBlue {
    position: absolute;
    z-index: 2;
    width: 100%;

    & img {
        width: 100%;
    }
}

.paperSnippedTextBlue {
    position: absolute;
    bottom: 70px;
}

.paperSnippedOrange {
    z-index: 1;
    position: absolute;
    width: 100%;

    & img {
        width: 100%;
    }
}

.paperSnippedTextOrange {
    rotate: 6deg;
    bottom: 70px;
    position: absolute;
}

.positionOrange {
    bottom: 60px;
}

.paperSnipped {
    position: relative;
    height: 168px;
    max-width: 560px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        & p {
            margin: 0;
            color: white;
            font-family: 'Bricolage Grotesque';
            font-size: 24px;
            font-weight: 400;
        }
    }
}

.paperSnippedText {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;

    & img {
        height: 40px;
        width: 40px;
    }
}

.paperYellow {
    display: flex;
}

.textSection {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.aboutMeTextArea {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 64px;

    & span {
        font-family: 'Bricolage Grotesque';
        font-weight: 400;
        font-size: 20px;
    }
}

.title {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    & p {
        font-family: 'Bricolage Grotesque';
        font-weight: 500;
        font-size: 20px;
    }

    & h1 {
        font-family: 'Bricolage Grotesque';
        font-weight: 700;
        font-size: 64px;
        margin: 0;
    }
}

.aboutMeUnderlineContainer {
    width: 0px;
    overflow: hidden;
    animation: underlineAnimation 3s alternate infinite;
}

@keyframes underlineAnimation {

    0%,
    10% {
        width: 0px;
    }

    20%,
    100% {
        width: 305px;
    }
}

.letsTalkButton {
    width: fit-content;
    align-items: center;
    border: solid 1px black;
    border-radius: 100px;
    padding: 12px 24px;
    position: relative;
    bottom: 0px;
    right: 0px;
    box-shadow: 4px 4px black;
    transition: all 175ms ease-in-out;
    align-self: flex-end;

    &:hover {
        bottom: -4px;
        right: -4px;
        box-shadow: 0px 0px white;
        background-color: #E08C05;
        cursor: pointer;
        color: white;
    }
}

a {
    text-decoration: none;
    color: black;
    align-self: flex-end;
}

@media (max-width: 900px) {
    .body {
        gap: 16px;
    }

    .aboutMeTextArea {
        width: 90%;
    }
}

@media (max-width: 850px) {
    .positionYellow {
        top: 95px;
    }

    .positionOrange {
        bottom: 85px;
    }

    .aboutMeTextArea {
        gap: 25px;
    }
}

@media (max-width: 750px) {
    .body {
        flex-direction: column-reverse;
    }

    .textSection {
        width: 90%;
    }

    .rippedPaper {
        width: 90%;
    }

    .positionYellow {
        top: 64px;
    }

    .positionOrange {
        bottom: 60px;
    }
}

@media (max-width: 500px) {
    .rippedPaper {
        width: 100%;
    }

    .paperSnipped {
        gap: 8px;
    }

    .paperSnippedOrange img,
    .paperSnippedYellow img {
        width: 100%;
        height: 200px;
    }

    .paperSnippedBlue img {
        width: 100%;
        height: 124px;
    }

    .positionYellow {
        top: 64px;
    }

    .positionOrange {
        bottom: 60px;
    }
}

@media (max-width: 376px) {
    .body {
        flex-direction: column-reverse;
    }

    .textSection {
        width: 100%;
    }

    .aboutMeTextArea {
        gap: 40px;
        width: 100%;
        padding: 0 16px;
    }

    .title {
        gap: 0px;

        & h1 {
            font-size: 48px;
        }
    }

    .rippedPaper {
        width: 100%;
    }

    .paperSnipped {
        gap: 8px;
    }

    .paperSnippedOrange img,
    .paperSnippedYellow img {
        width: 100%;
        height: 200px;
    }

    .paperSnippedBlue img {
        width: 100%;
        height: 124px;
    }
}