div {
    height: 100vh;
    background-image: url(../../assets/img/background/background_header.png);
    background-size: cover;
    background-color: white;
}

p {
    color: white;
}

.titleAndFoto {
    display: flex;
    justify-content: center;
}