div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../../assets/img/background/background_header.png);
    background-size: cover;
    background-position: bottom;
    background-color: white;
    width: 100vw;
}

p {
    color: white;
}

.titleAndFoto {
    display: flex;
    justify-content: center;
}