.bc-none {
    background-color: unset !important;
}

.transitionheight,
.display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;

    & a {
        z-index: 1;
        text-decoration: none;
        color: white;
        font-family: 'Bricolage Grotesque';
        font-weight: 700;
        font-size: 18px;
        text-align: end;

    }
}

.content {
    box-shadow: inset -3em 5em 62px -3.5em #000000d6;
    display: flex;
    max-width: 1440px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}


.logo {
    height: 60px;
    width: 60px;
    transition: all 300ms;
    &:hover {
        filter: hue-rotate(45deg);
    }
}

.transitionheight {
    position: relative;
}

.hoverImg {
    position: absolute;
    overflow: hidden;
    height: 0px;
    top: 0px;
    width: 0px;

    & img {
        position: absolute;
        top: 12px;
        left: 0;
        width: 110px;
        height: 50px;
    }
}

.hoverEffectHight {
    height: 80px;
}

.hoverEffectWidth {
    width: 100px;
    height: 80px;
}

.transitionWidth {
    transition: width 175ms ease-in;
    height: 80px;
}

.display {
    display: flex;
    justify-content: start;
    position: relative;
}

.mobileNavbar {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 16px;
    z-index: 2;
}

.menuBar {
    height: 2px;
    width: 24px;
    background-color: #E08C05;
    transition: all 300ms;
}

.menuIcon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 32px;
    width: 32px;
    flex-direction: column;
}

.menuBarTopRot {
    rotate: -45deg;
    transform-origin: 100% 0%
}

.menuBarBotRot {
    rotate: 45deg;
    width: 23px;
    transform-origin: 100% 0%
}

.mobileNavbarMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    position: absolute;
    height: 70vh;
    background-image: url(../../assets/img/background/background_header.png);
    right: 0;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    transition: all 300ms;
}

.navMobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 32px;

    & a {
        text-decoration: none;
        color: white;
        font-family: Bricolage Grotesque;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        text-align: justify;

    }
}

.socialsMobile {
    display: flex;
    gap: 24px;
}

.socials {
    display: flex;
    width: 40px;
    height: 40px;
    border: solid 1px white;
    border-radius: 100px;
    border-width: 1px;
    justify-content: center;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.linkedIn {
    background-image: url(../../assets/img/socials/linkedin.png);
}

.github {
    background-image: url(../../assets/img/socials/github.png);
}

.email {
    background-image: url(../../assets/img/socials/mail.png);
}

@media (max-width: 376px) {
    .mobileNavbar {
        display: flex;
    }

    .content {
        display: none;
    }
}