<div class="content">
    <img class="logo" src="../../assets/img/header/logo_blue.png">

    <div class="transitionheight">
        <div [ngStyle]="{width: '110px', transition: 'height 300ms ease-in'}" class="hoverImg"
            [class.hoverEffectHight]="aboutMeHover">
            <img src="../../assets/img/header/1.png">
        </div>
        <a (mouseover)="aboutMeHover=true" (mouseout)="aboutMeHover=false" href="#aboutMe">{{"NAV.ABOUT_ME" |
            translate}}</a>
    </div>

    <div class="display">
        <div class="hoverImg transitionWidth " [class.hoverEffectWidth]="skillsHover">
            <img src="../../assets/img/header/2.png">
        </div>
        <a [ngStyle]="{width:'80px'}" (mouseover)="skillsHover=true" (mouseout)="skillsHover=false"
            href="#skills">{{"NAV.SKILLS" |
            translate}}</a>
    </div>

    <div class="display">
        <div class="hoverImg transitionWidth" [class.hoverEffectWidth]="projectsHover">
            <img src="../../assets/img/header/4.png">
        </div>
        <a [ngStyle]="{width:'90px'}" (mouseover)="projectsHover=true" (mouseout)="projectsHover=false"
            href="#projects">{{"NAV.PROJECTS" |
            translate}}</a>
    </div>

    <div class="display">
        <div class="hoverImg transitionWidth" [class.hoverEffectWidth]="contactHover">
            <img src="../../assets/img/header/3.png">
        </div>
        <a [ngStyle]="{width:'90px'}" (mouseover)="contactHover=true" (mouseout)="contactHover=false"
            href="#contact">{{"NAV.CONTACT" |
            translate}}</a>
    </div>
    <div class="language">
        <button (click)="switchLanguage('de')">DE</button>
        <button (click)="switchLanguage('en')">EN</button>
    </div>
</div>


<div class="mobileNavbar">
    <div class="logoAndLanguageMobile">
        <img class="logo" src="../../assets/img/test-pattern-152459_640.png">
        <div class="languageMobile">
            <button (click)="switchLanguage('de')">DE</button>
            <button (click)="switchLanguage('en')">EN</button>
        </div>
    </div>
    <div>
        <div class="menuIcon" (click)="showMenu()">
            <div class="menuBar menuBarTop" [class.menuBarTopRot]="openMenu"></div>
            <div class="menuBar menuBarMid" [class.bc-none]="openMenu"></div>
            <div class="menuBar menuBarBot" [class.menuBarBotRot]="openMenu"></div>
        </div>
    </div>
    <div class="mobileNavbarMenu" [style.top]="openMenu ? '0' : (!openMenu ? '-100vh' : null)">
        <div class="navMobile">
            <a href="#aboutMe" (click)="showMenu()">{{"NAV.ABOUT_ME" |
                translate}}</a>
            <a href="#skills" (click)="showMenu()">{{"NAV.SKILLS" |
                translate}}</a>
            <a href="#projects" (click)="showMenu()">{{"NAV.PROJECTS" |
                translate}}</a>
            <a href="#contact" (click)="showMenu()">{{"NAV.CONTACT" |
                translate}}</a>
        </div>
        <div class="socialsMobile">
            <a href="">
                <div class="socials">
                    <div class="socials linkedIn"></div>
                </div>
            </a>
            <a href="">
                <div class="socials">
                    <div class="socials github"></div>
                </div>
            </a>
            <a href="#contact">
                <div class="socials">
                    <div class="socials email" (click)="showMenu()"></div>
                </div>
            </a>
        </div>
    </div>
</div>