<div class="body">
    <div class="rippedPaper">
        <div class="paperSnipped paperSnippedYellow">
            <div class="paperSnippedText">
                <img class="paperSnippedImg" src="../../assets/img/aboute-me-section/based-snipped-icon.png">
                <p>Based in Mannheim</p>
            </div>
        </div>
        <div class="paperSnipped paperSnippedBlue">
            <div class="paperSnippedText">
                <img class="paperSnippedImg" src="../../assets/img/aboute-me-section/relocate-snipped-icon.png">
                <p>Open to Relocate</p>
            </div>
        </div>
        <div class="paperSnipped paperSnippedOrange">
            <div class="paperSnippedText">
                <img class="paperSnippedImg" src="../../assets/img/aboute-me-section/remote-snipped-icon.png">
                <p>Open to work Remote</p>
            </div>
        </div>
    </div>
    <div class="textSection">
        <div class="aboutMeTextArea">
            <div class="title">
                <p>Who's Justin</p>
                <h1>Aboute me</h1>
                <div class="abouteMeUnderlineContainer">
                    <img src="../../assets/img/aboute-me-section/Blue line.png" alt="Aboute me underline">
                </div>
            </div>
            <span>
                BEISPIELTEXT
                Hey there, I'm Karl. Write some information about yourself that is IT related.
                Why are you passionate about coding? What is your source of inspiration for improving your programming
                skills?
                Do you learn from each challenge as you search for the most efficient or elegant solution?
                <br><br>
                Let's collaborate and build something remarkable together!
            </span>
            <div class="letsTalkButton">
                <span>Let's talk</span>
            </div>
        </div>
    </div>
</div>