<div class="content">
    <div class="topContainer">
        <div class="title">
            <p>MY CRAFT</p>
            <h1>Projects</h1>
            <div class="titleUnderlineContainer">
                <div></div>
                <img src="../../assets/img/projects-section/title-underline.png">
            </div>
            <span>
                BEISPIELTEXT
                Encourage people to take a look and interact with your projects.
                Highlight your approach to creating responsive, user-friendly projects with efficient code.
            </span>
        </div>
        <div class="joinProject">
            <div class="joinImgs">
                <img class="checkDetailsSticker" src="../../assets/img/projects-section/check-details-sticker.png" alt="">
                <img class="movingLaptop" src="../../assets/img/projects-section/laptop.png" alt=""> 
            </div>
            <div>
              <p>
                Join
            </p>
            <span>
                Task manager inspired by the Kanban System. 
                Create and organize tasks using drag and drop functions, assign users and categories. 
            </span>
            </div>
        </div>
    </div>

    <div></div>
    <div></div>
</div>