.body {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 88px;
    width: 100%;
    max-width: 1440px;
    padding: 0 55px;
}

.topContainer {
    display: flex;
    align-items: center;
    height: 500px;
    gap: 60px;
    padding: 0 120px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & p {
        font-family: Bricolage Grotesque;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    & h1 {
        font-family: Bricolage Grotesque;
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        margin: 0;
        width: fit-content;
    }

    & span {
        font-family: Bricolage Grotesque;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        text-align: justify;
        margin-top: 48px;
    }
}

.titleUnderlineContainer {
    display: flex;
    position: relative;
    height: 20px;
    justify-content: end;

    & div {
        position: absolute;
        height: 20px;
        animation: titleUnderlineAnimation 3s alternate infinite;
        z-index: 1;
        background-color: white;
        justify-self: end;
        width: 260px;
    }

    & img {
        position: absolute;
        width: 260px;
        height: 20px;
    }
}

@keyframes titleUnderlineAnimation {

    0%,
    10% {
        width: 100%;
    }

    20%,
    100% {
        width: 0%;
    }
}

.joinProject {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: end;

    & h2 {
        font-family: Bricolage Grotesque;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;

    }
}

.joinImgs {
    width: 100%;
    height: 100%;
    max-width: 560px;
    max-height: 400px;
    display: flex;
    position: relative;
    align-items: end;
    border-radius: 16px;

    &:hover {
        box-shadow: inset 0em -15em 25px -1.5em lightgray;
    }
}

.joinText {
    letter-spacing: 0;
    & h2 {
        font-family: Bricolage Grotesque;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
    }

    & span {
        font-family: Bricolage Grotesque;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        text-align: justify;
    }
}

.checkDetailsSticker {
    width: 168px;
    height: 168px;
    position: absolute;
    z-index: 1;
    bottom: 48px;
}

.movingLaptop {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 520px;
    max-height: 320px;
    border-radius: 30px;
    animation: movingLaptopAnimation 2s alternate infinite ease-in-out;
    opacity: 100%;
}

.laptopZoom {
    position: absolute;
    bottom: unset;
    width: 100%;
    height: 100%;
    max-width: 520px;
    max-height: 320px;
    opacity: 0%;
    transition: all 300ms;
}

@keyframes movingLaptopAnimation {
    0% {
        bottom: 40px;
    }

    100% {
        bottom: 10px;
    }
}

.pauseAnimation {
    animation-play-state: paused;
    opacity: 0%;
}

.showLaptopZoom {
    width: 100%;
    height: 100%;
    max-width: 520px;
    max-height: 320px;
    transition: all 300ms;
    opacity: 100%;
    transform-origin: 0% 100%;
    background-image: url(../../assets/img/projects-section/laptop.png);
    background-size: contain;
}

.projectDetails {
    width: fit-content !important;
    align-items: center;
    border: solid 1px white;
    border-radius: 100px;
    padding: 12px 24px;
    position: absolute;
    bottom: 24px;
    right: 40px;
    box-shadow: 4px 4px white;
    transition: all 175ms ease-in-out;
    align-self: flex-end;
    color: white;
    font-family: Bricolage Grotesque;
    font-weight: 500;
    font-size: 20px;

    &:hover {
        bottom: 20px;
        right: 36px;
        box-shadow: 0px 0px white;
        background-color: #E08C05;
        cursor: pointer;
        color: white;
    }
}

.projectDetailsMobile {
    width: fit-content !important;
    align-items: center;
    border: solid 1px black;
    border-radius: 100px;
    padding: 12px 24px;
    box-shadow: 4px 4px black;
    transition: all 175ms ease-in-out;
    align-self: flex-end;
    display: none;
    font-family: Bricolage Grotesque;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    position: relative;
    text-align: justify;
    bottom: 0px;
    right: 0px;

    &:hover {
        bottom: -4px;
        right: -4px;
        box-shadow: 0px 0px white;
        background-color: #E08C05;
        cursor: pointer;
        color: white;
        transition: all 175ms ease-in-out;
    }
}

.projectsContainer {
    display: grid;
    grid-template-columns: 620px 620px;
    justify-content: space-between;
    grid-gap: 120px;
    padding: 144px 0;
}

.projectImgContainer {
    position: relative;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    & div {
        opacity: 0%;
    }

    &:hover {
        & div {
            opacity: 100%;
        }

        & img {
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            transform: scale(1.2);
        }
    }

    & img {
        height: 400px;
        border-radius: 20px;

        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);

        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
}

.shadow {
    position: absolute;
    height: 100%;
    width: 200%;
    box-shadow: inset 0em -10em 130px -3.5em black;
    transition: all 300ms;
}

.projecTitleContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    letter-spacing: 0;

    & h2 {
        margin: 0;
        font-family: Bricolage Grotesque;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
    }

    & span {
        font-family: Bricolage Grotesque;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        text-align: justify;
    }
}

.singleProjectContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.leftAlign {
    grid-column: 1;
    justify-self: start;
}

.rightAlign {
    grid-column: 2;
    justify-self: end;
}

a {
    text-decoration: none;

    & span {
        font-family: Bricolage Grotesque;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        text-align: justify;
        color: white;
    }
}

@media (max-width: 1470px) {
    .projectsContainer {
        grid-template-columns: 560px 560px;
        grid-gap: 40px;
    }

    .singleProjectContainer {
        max-width: 560px;
    }

    .projectImgContainer {
        max-width: 560px;
    }

}

@media (max-width: 1260px) {

    .singleProjectContainer,
    .title,
    .joinProject {
        max-width: 500px;
    }

    .projectsContainer {
        grid-template-columns: 500px 500px;
    }
}

@media (max-width: 1120px) {

    .singleProjectContainer,
    .title,
    .joinProject {
        max-width: 450px;
    }

    .projectsContainer {
        grid-template-columns: 450px 450px;
    }
}

@media (max-width: 1020px) {

    .singleProjectContainer,
    .title,
    .joinProject {
        max-width: 400px;
    }

    .projectsContainer {
        grid-template-columns: 400px 400px;
    }
}

@media (max-width: 920px) {

    .singleProjectContainer,
    .title,
    .joinProject {
        max-width: 350px;
    }

    .projectsContainer {
        grid-template-columns: 350px 350px;
    }

    .projectImgContainer {
        height: 350px;

        & img {
            height: 350px;
        }
    }

    .checkDetailsSticker {
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 820px) {

    .content {
        padding: 0 16px;
    }

    .rightAlign,
    .leftAlign {
        grid-column: 1;
        justify-self: center;
    }

    .singleProjectContainer,
    .title,
    .joinProject {
        max-width: 100%;
    }


    .joinProject {
        width: 100%;
    }

    .checkDetailsSticker {
        width: 120px;
        height: 120px;
    }

    .joinImgs {
        height: unset;
        width: 100%;
        padding-top: 40px;
        pointer-events: none;
    }

    .laptopZoom {
        width: 100%;
    }

    .projectImgContainer {
        pointer-events: none;
    }

    .projectDetails {
        display: none;
    }

    .projectDetailsMobile {
        display: flex;
        justify-self: end;
        cursor: pointer;

        &:hover span {
            color: white;
        }
    }

    .projectsContainer {
        grid-template-columns: 100%;
        justify-content: center;
        padding-bottom: 56px
    }

    .singleProjectContainer {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    a {
        width: fit-content;
        align-self: end;

        & span {
            color: black;
            width: fit-content;
            display: flex;
            align-self: end;
        }
    }
}

@media (max-width: 600px) {
    .content {
        padding: 0;
    }

    .projectsContainer {
        padding: 0 16px;
    }
}

@media (max-width: 376px) {

    .content {
        width: 100%;
        padding: 0;
    }

    .topContainer {
        flex-direction: column;
        padding: 88px 16px 0 16px;
        height: fit-content;
    }

    .title {
        & p {
            font-size: 20px;
        }

        & h1 {
            font-size: 48px;
            width: fit-content;
        }

        & span {
            margin-top: 32px;
        }
    }

    .joinProject {
        width: 100%;
    }

    .checkDetailsSticker {
        width: 100px;
        height: 100px;
    }

    .movingLaptop {
        right: unset;
    }

    .joinImgs {
        height: unset;
        width: 100%;
        padding-top: 40px;
        pointer-events: none;
    }

    .laptopZoom {
        width: 100%;
    }

    .projectImgContainer {
        pointer-events: none;
    }

    .projectDetails {
        display: none;
    }

    .projectDetailsMobile {
        display: flex;
        justify-self: end;
    }

    .projectsContainer {
        grid-template-columns: 100%;
        justify-content: center;
        padding-bottom: 56px
    }

    .singleProjectContainer {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}