.content {
    display: flex;
    flex-direction: column;
    padding: 144px 120px 0 120px;
    background-color: white;
    gap: 88px;
}

.topContainer {
    display: flex;
    align-items: center;
    height: 500px;
    gap: 60px;
}

.title {
    display: flex;
    flex-direction: column;

    & p {
        font-family: Bricolage Grotesque;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    & h1 {
        font-family: Bricolage Grotesque;
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        margin: 0;
    }

    & span {
        font-family: Bricolage Grotesque;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        text-align: justify;
        margin-top: 48px;
    }
}

.titleUnderlineContainer {
    display: flex;
    position: relative;
    height: 20px;
    width: 260px;
    justify-content: end;

    & div {
        position: absolute;
        height: 20px;
        animation: titleUnderlineAnimation 3s alternate infinite;
        z-index: 1;
        background-color: white;
        justify-self: end;
        width: 260px;
    }

    & img {
        position: absolute;
        width: 260px;
        height: 20px;
    }
}

@keyframes titleUnderlineAnimation {

    0%,
    10% {
        width: 100%;
    }

    20%,
    100% {
        width: 0%;
    }
}

.joinProject {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & h2 {
        font-family: Bricolage Grotesque;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
    }
}

.joinImgs {
    width: 560px;
    height: 400px;
    display: flex;
    position: relative;
    align-items: end;
    border-radius: 16px;
    &:hover {
        box-shadow: inset 0em -15em 25px -1.5em lightgray; 
    }
}

.checkDetailsSticker {
    width: 168px;
    height: 168px;
    position: absolute;
    z-index: 1;
    bottom: 48px;
}

.movingLaptop {
    position: relative;
    right: -20px;
    width: 520px;
    height: 320px;
    border-radius: 30px;
    animation: movingLaptopAnimation 2s alternate infinite ease-in-out;
    opacity: 100%;
}

.laptopZoom {
    position: absolute;
    bottom: unset;
    width: 520px;
    height: 320px;
    opacity: 0%;
    transition: all 300ms;
}

@keyframes movingLaptopAnimation {
    0% {
        bottom: 40px;
    }

    100% {
        bottom: 10px;
    }
}

.pauseAnimation {
    animation-play-state: paused;
    opacity: 0%;
}

.showLaptopZoom {
    width: 540px;
    height: 338px;
    bottom: 20px !important;
    transition: all 300ms;
    opacity: 100%;
    transform-origin: 0% 100%;
    background-image: url(../../assets/img/projects-section/laptop.png);
}

.letsTalkButton {
    width: fit-content !important;
    align-items: center;
    border: solid 1px white;
    border-radius: 100px;
    padding: 12px 24px;
    position: absolute;
    bottom: 24px;
    right: 40px;
    box-shadow: 4px 4px white;
    transition: all 175ms ease-in-out;
    align-self: flex-end;
    color: white;
    &:hover {
        bottom: 20px;
        right: 36px;
        box-shadow: 0px 0px white;
        background-color: #E08C05;
        cursor: pointer;
        color: white;
    }
}

.projectsContainer {
    display: grid;
    grid-template-columns: 560px 560px;
    gap: 60px;
}

.projectImgContainer {
    position: relative;
    width: 560px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    & div {
        opacity: 0%;
    }
    &:hover {
        & div {
            opacity: 100%;
        }
        & img {
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            transform: scale(1.2);
        }
    }
    & img {
        width: 560px;
        height: 400px;
        border-radius: 20px;

        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);

        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
}

.shadow {
    position: absolute;
    height: 100%;
    width: 200%;
    box-shadow: inset 0em -10em 130px -3.5em black;
    transition: all 300ms;
}

.projecTitleContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    & h2 {
        margin: 0;
    }
}

a {
    text-decoration: none;
    & span {
        font-family: Bricolage Grotesque;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: justify;
        color: white;
    }
}