<div class="body">
    <app-navbar></app-navbar>
    <div class="content">
        <div class="projectMenu">
            <div class="goBackButton" [routerLink]="['/projects']" [fragment]="'projects'">
                <img src="../../../assets/img/projects-section/back-arrow.png">
                <p>{{ "PROJECT_VIEW.GO_BACK" | translate }}</p>
            </div>
            <div class="nextButton" (click)="goToNextProject()">
                <p>{{"PROJECT_VIEW.NEXT_PROJECT" | translate}}</p>
                <img src="../../../assets/img/projects-section/nextButton.png">
            </div>
        </div>
        <div class="project">
            <div class="projectText">
                <div class="projectDescription">
                    <div class="titleContainer">
                        <h1 class="projectTitle" #title>{{projects[projectIndex].title}}</h1>
                        <div>
                            <div class="titleUnderlineContainer">
                                <img src="../../../assets/img/about-me-section/Blue line.png" alt="About me underline"
                                    [ngStyle]="{'width.px': title.offsetWidth }">
                            </div>
                        </div>

                    </div>
                    <div class="textBox">
                        <p>{{"PROJECT_VIEW.DESCRIPTION" | translate}}</p>
                        <span>
                            {{projects[projectIndex].discription}}
                        </span>
                    </div>
                    <div class="textBox">
                        <p>{{"PROJECT_VIEW.IMPLEMENTATION" | translate}}</p>
                        <span>
                            {{projects[projectIndex].implementationDetails}}
                        </span>
                    </div>
                    <div class="durationBox">
                        <span class="durTitle">{{"PROJECT_VIEW.DURATION" | translate}}:</span>
                        <span class="durValue">{{projects[projectIndex].duration}}</span>
                    </div>

                    <div class="usedTec">
                        @for (technologie of projectsData.projectsArray[projectIndex].usedTechnologies; track $index) {
                        <div>
                            <img src="../../../{{technologie.technologieIcon}}">
                            <span>{{technologie.technologieName}}</span>
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div class="projectImg">
                <img src="../../../{{projects[projectIndex].imgSrc}}">
                <div class="projectButtons">
                    <a href="{{projectsData.projectsArray[projectIndex].gitLink}}">
                        <div class="button button1">
                            <span>GitHub</span>
                        </div>
                    </a>
                    <a href="{{projectsData.projectsArray[projectIndex].liveTestLink}}">
                    <div class="button">
                        <span>Live Test</span>
                    </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>