.body {
    background-image: url(../../assets/img/contact-me/contact-me-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    padding: 144px 120px 56px 120px;
    display: flex;
    justify-content: space-between;
    gap: 88px;
}

p,
h1,
h2,
h3,
span {
    color: white;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    width: 560px;
    gap: 48px;

    & div {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    & p {
        font-family: Bricolage Grotesque;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        margin: 0;
    }

    & h1 {
        font-family: Bricolage Grotesque;
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: 0%;
        margin: 0;
    }

    & span {
        font-family: Bricolage Grotesque;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: justify;

    }
}

.arrowContainer {
    align-self: flex-end;
    width: 280px;
}

.arrow {
    width: 280px;
    height: 44px;
}

.arrowShrinkContainer {
    width: 0px;
    overflow: hidden;
    animation: arrowShrink 3s infinite alternate-reverse;
}

@keyframes arrowShrink {

    0%,
    10% {
        width: 0px;
    }

    20%,
    100% {
        width: 280px;
    }
}

.rightContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 560px;
    align-items: end;
}

.nameSticker {
    position: absolute;
    top: 0;
    height: 166px;
    width: 168px;
}

form {
    width: 100%;
    padding-top: 128px;
    p {
        font-family: Bricolage Grotesque;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        width: 100%;
    }

    div {
        border-top: solid transparent 1px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 16px;
        &:hover {
            border-color: blue;
        }
    }
}

.checkbox {
    color: skyblue;
    margin: 8px;
    background-color: none;
    cursor: pointer;
}

.textInput {
    background: none;
        border: none;
        font-family: Bricolage Grotesque;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: white;
        &:focus {
            outline-color: #E08C05;
        }
        &::placeholder {
            color: white;
        }
}

.ppLabel {
    color: white;
}

section {
    padding-top: 16px;
    display: flex;
    & a {
        color: skyblue;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.border {
    border-bottom: solid 1px;
    border-color: #E08C05;
}

.borderOff {
    border-bottom: solid transparent 1px;
}

.letsTalkButton {
    width: fit-content !important;
    align-items: center;
    border: solid 1px gray;
    border-radius: 100px;
    padding: 4px 24px !important;
    box-shadow: 2px 2px gray;
    justify-self: end;
    border-color: gray !important;
    position: relative;
    bottom: 2px;
    right: 2px;
    transition: all 175ms;
    & span {
        padding: 0px 16px;
        color: gray;
    }
    &:hover {
        bottom: 0px;
        right: 0px;
        box-shadow: 0px 0px white;
        background-color: #E08C05;
        cursor: pointer;
        color: white;
        & span {
            color: black;
        }
    }
}

.footer {
    background-color: unset;
}