.content {
    max-width: 1440px;
    width: 100%;
    background-image: url(../../assets/img/contact-me/contact-me-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.body {
    padding: 144px 120px 56px 120px;
    display: grid;
    justify-content: space-between;
    gap: 0 88px;
    position: relative;
}

p,
h1,
h2,
h3,
span {
    color: white;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    width: 100%;
    gap: 48px;

    & div {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    & p {
        font-family: Bricolage Grotesque;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        margin: 0;
    }

    & h1 {
        font-family: Bricolage Grotesque;
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: 0%;
        margin: 0;
    }

    & span {
        font-family: Bricolage Grotesque;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: justify;

    }
}

.arrowContainer {
    justify-self: flex-end;
    width: 280px;
}

.arrow {
    width: 280px;
    height: 44px;
}

.arrowShrinkContainer {
    width: 0px;
    overflow: hidden;
    animation: arrowShrink 3s infinite alternate-reverse;
}

@keyframes arrowShrink {

    0%,
    10% {
        width: 0px;
    }

    20%,
    100% {
        width: 280px;
    }
}

.contactMe {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 560px;
    align-items: end;
}

.nameSticker {
    position: absolute;
    top: 100px;
    right: 90px;
    height: 180px;
    width: 180px;
    z-index: 1;
    rotate: 16deg;
}

app-contact-me-form {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

@media (max-width: 1400px) {
    .body {
        padding: 144px 80px 56px;
    }
}

@media (max-width: 1320px) {
    .body {
        padding: 144px 40px 56px;
    }
}

@media (max-width: 376px) {
    .body {
        padding: 80px 16px 0;
        gap: 0;
    }

    .nameSticker {
        position: unset;
        height: 120px;
        width: 120px;
        justify-self: end;
        padding: 0px;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .arrowContainer {
        width: 152px;
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        justify-self: normal;
    }

    @keyframes arrowShrink {

    0%,
    10% {
        width: 0px;
    }

    20%,
    100% {
        width: 152px;
    }
}

    .arrow {
        width: 152px;
    }

    .leftContainer {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    app-contact-me-form {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }
}