p {
    color: white;
}

.wavingHand {
    position: relative;
    height: 40px;
    width: 40px;
    transition: all 300ms ease-in-out;
    opacity: 0;
    rotate: -180deg;
}

.wavingHandEffect {
    opacity: 1;
    animation: rollOut 700ms alternate forwards ease-out;
    rotate: 0deg;
}

.rollInEffect {
    animation: rollIn 300ms alternate forwards ease-out;
}

@keyframes rollOut {
    0% {
        rotate: -180deg;
    }

    50% {
        rotate: 30deg;
        left: 8px;
    }

    60% {
        rotate: 10deg;
        left: 4px;
    }

    70% {
        rotate: 0deg;
        left: 0; 
    }

    80% {
        rotate: -4deg;
        left: -2px; 
    }

    100% {
        rotate: 0deg;
        left: 0;
    }
}

@keyframes rollIn {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: -180deg;
    }
}

.helloWorldContainer {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: end;

    & .animationContainer {
        position: relative;
        width: 145px;
        height: 40px;
        border: solid 1px white;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: default;
        text-wrap: nowrap;        
        transition: all 300ms ease-in;
        color: white;
        margin: 0;
        text-align: center;
        float: right;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Bricolage Grotesque';

        &:hover {
            width: 180px;    
        }
    }
}

.backgroundColorContainer {
    z-index: 0;
    position: absolute;
    height: 40px;
    width: 80px;
    background-color: #7E4AE7;
    ;
    border-radius: 0;
    opacity: 0;
    transition: all 400ms ease;
}

.increasBackground {
    width: 180px;
    border-radius: 100px;
    opacity: 1;
}

.helloWorldText {
    position: absolute;
    left: 22px;
    transition: opacity 300ms ease-in;
    opacity: 0;
    z-index: 1;
}

.greating {
    left: 22px;
    transition: opacity 300ms ease-in;
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.opacityEffect {
    opacity: 1
}

.TitleContainer {
    width: 80vw;
    height: 65vh;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

h1 {
    color: white;
}

.titleFirstLine {
    display: flex;
    align-items: center;
    height: 128px;
    & p {
        font-size: 128px;
        font-weight: 700;
        font-family: 'Bricolage Grotesque';
        &:hover {
            cursor: default;
        }
    }
}

.secondHalf {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: end;
    gap: 24px;
    & span {
        color: white;
        font-family: 'Bricolage Grotesque';
        font-weight: 500;
        font-size: 18px;
        position: relative;
    }
}

.getInTouchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: solid 1px white;
    border-radius: 100px;
    padding: 12px 24px;
    position: relative;
    bottom: 0px;
    right: 0px;
    box-shadow: 4px 4px white;
    transition: all 175ms ease-in-out;
    &:hover {
        bottom: -8px;
        right: -8px;
        box-shadow: 0px 0px white;
        background-color: #E08C05;
        ;
    }
}

.titleSecondLine {
    display: flex;
    align-items: center;
    height: 128px;
    & p {
        font-size: 128px;
        font-weight: 700;
        font-family: 'Bricolage Grotesque';
        &:hover {
            cursor: default;
        }
    }
}

.uperCase {
    animation: changeToLowerCase 300ms forwards ease-in;

    &:hover {
        animation: changeToUperCase 300ms forwards ease-in;
        color: #BAE011;
    }
}

.lowerCase {
    animation: changeToLowerCase 300ms forwards ease-in;
}

.uperCaseLetter {
    animation: changeToUperCase 300ms forwards ease-in;
    &:hover {
        animation: changeToLowerCase 300ms forwards ease-in;
        color: #BAE011;
    }
}

@keyframes changeToUperCase {
    0% {
        text-transform: lowercase;
        opacity: 1;
    }

    50% {
        opacity: 0.5;
        text-transform: uppercase;
    }

    100% {
        opacity: 1;
        text-transform: uppercase;
    }
}

@keyframes changeToLowerCase {
    0% {
        opacity: 1;
        text-transform: uppercase;
    }

    50% {
        opacity: 0.5;
        text-transform: lowercase;
    }

    100% {
        text-transform: lowercase;
        opacity: 1;
    }
}