<div class="TitleContainer">

   <div class="helloWorldContainer">
      <img [ngClass]="{ 'wavingHandEffect': textHover, 'rollInEffect': !textHover }" class="wavingHand"
         src="../../assets/img/waving_hand.png">
      <div class="animationContainer" (mouseover)="textHover=true" (mouseout)="textHover=false">
         <span [class.opacityEffect]="!textHover" class="helloWorldText">Hello world</span>
         <span [class.opacityEffect]="textHover" class="greating">I'M JUSTIN KOLL</span>
         <div [class.increasBackground]="textHover" class="backgroundColorContainer"></div>
      </div>
   </div>
   <div class="titleFirstLine">
      <p class="uperCaseLetter">F</p>
      @for (letter of titleFirstLine; track $index) {
         <p class="uperCase">{{letter}}</p>
      }
   </div>
   <div class="secondHalf">
      <div class="titleSecondLine">
         @for (letter of titleSecondLine; track $index) {
            <p class="uperCaseLetter">{{letter}}</p>
         }
      </div>
      <div class="getInTouchButton">
         <span>Get in Touch</span>
      </div>
   </div>
   <div>
      <div></div>
      <div></div>
      <div></div>
   </div>
</div>