<div class="content">
   <div class="titleContainer">

      <div class="helloWorldContainer">
         <img [ngClass]="{ 'wavingHandEffect': textHover, 'rollInEffect': !textHover }" class="wavingHand"
            src="../../assets/img/waving_hand.png">
         <div class="animationContainer" (mouseenter)="textHover=true" (mouseleave)="textHover=false">
            <span [class.opacityEffect]="!textHover" class="helloWorldText">Hello world</span>
            <span [class.opacityEffect]="textHover" class="greating">{{"ABOVE_THE_FOLD.JUSTIN" | translate}}</span>
            <div [class.increasBackground]="textHover" class="backgroundColorContainer"></div>
         </div>
      </div>
      <div class="titleFirstLine">
         <div class="letterBox">
            <p class="uperCaseLetter">F</p>
            @for (letter of titleFirstLine; track $index) {
            <p class="uperCase">{{letter}}</p>
            }
         </div>

         <div class="polaroid" [ngClass]="{ 'polaroidFilterIn': photoHover, 'polaroidFilterOut': !photoHover }">
            <img class="polaroidFrame" (mouseenter)="changePhotoTextMouseIn(); photoHover=true"
               (mouseleave)="changePhotoTextMouseOut(); photoHover=false" src="../../../assets/img/justin.png">
            <!-- <img class="polaroidInnerPicture" src="../../../assets/img/Justin.jpg"> -->
            <div class="fotoTitle" (mouseenter)="changePhotoTextMouseIn(); photoHover=true">
               <span
                  [ngClass]="{ 'fotoTitleBounceAnimation': photoHover, 'fotoTitleBounceAnimationReverse': !photoHover }">{{fotoTitle}}</span>
            </div>

         </div>
      </div>
      <div class="secondHalf">
         <div class="titleSecondLine">
            @for (letter of titleSecondLine; track $index) {
            <p class="uperCaseLetter">{{letter}}</p>
            }
         </div>
         <a [routerLink]="['/']" [fragment]="'contact'">
            <div class="getInTouchButton">
               <span>{{"ABOVE_THE_FOLD.GET_IN_TOUCH" | translate}}</span>
            </div>
         </a>
      </div>
   </div>
   <div class="socialsContainer">
      <a href="http://www.linkedin.com/in/justin-koll">
         <div class="socials" (mouseover)="linkedInHover=true" (mouseleave)="linkedInHover=false">
            <div class="socials linkedIn"></div>
            <div class="socialsBackgroundcolor" [class.Backgroundcolor]="linkedInHover"></div>
         </div>
      </a>
      <a href="https://github.com/Dusty404">
         <div class="socials" (mouseover)="githubHover=true" (mouseleave)="githubHover=false">
            <div class="socials github"></div>
            <div class="socialsBackgroundcolor" [class.Backgroundcolor]="githubHover"></div>
         </div>
      </a>
      <a [routerLink]="['/']" [fragment]="'contact'">
         <div class="socials" (mouseover)="emailHover=true" (mouseleave)="emailHover=false">
            <div class="socials email"></div>
            <div class="socialsBackgroundcolor" [class.Backgroundcolor]="emailHover"></div>
         </div>
      </a>
   </div>
   <div class="polaroidMobileContainer">
      <div class="polaroidMobile">
         <img class="polaroidFrame" src="../../../assets/img/justin.png">
         <!-- <img class="polaroidInnerPicture" src="../../../assets/img/Justin.jpg"> -->
         <div class="fotoTitle">
            <span>Justin :D</span>
         </div>
      </div>
   </div>

</div>