p {
    color: white;
}

.wavingHand {
    position: relative;
    height: 40px;
    width: 40px;
    transition: all 300ms ease-in-out;
    opacity: 0;
    rotate: -180deg;
}

.wavingHandEffect {
    opacity: 1;
    animation: rollOut 700ms alternate forwards ease-out;
    rotate: 0deg;
}

.rollInEffect {
    animation: rollIn 300ms alternate forwards ease-out;
}

@keyframes rollOut {
    0% {
        rotate: -180deg;
    }

    50% {
        rotate: 30deg;
        left: 8px;
    }

    60% {
        rotate: 10deg;
        left: 4px;
    }

    70% {
        rotate: 0deg;
        left: 0;
    }

    80% {
        rotate: -4deg;
        left: -2px;
    }

    100% {
        rotate: 0deg;
        left: 0;
    }
}

@keyframes rollIn {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: -180deg;
    }
}

.helloWorldContainer {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: end;

    & .animationContainer {
        position: relative;
        width: 145px;
        height: 40px;
        border: solid 1px white;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: default;
        text-wrap: nowrap;
        transition: all 300ms ease-in;
        color: white;
        margin: 0;
        text-align: center;
        float: right;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Bricolage Grotesque';

        &:hover {
            width: 200px;
        }
    }
}

.backgroundColorContainer {
    z-index: 0;
    position: absolute;
    height: 40px;
    width: 80px;
    background-color: #7E4AE7;
    border-radius: 0;
    opacity: 0;
    transition: all 400ms ease;
}

.increasBackground {
    width: 200px;
    border-radius: 100px;
    opacity: 1;
}

.helloWorldText {
    position: absolute;
    left: 22px;
    transition: opacity 300ms ease-in;
    opacity: 0;
    z-index: 1;
}

.greating {
    left: 22px;
    transition: opacity 300ms ease-in;
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.opacityEffect {
    opacity: 1
}

.content {
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: calc(100vh - 80px);
    padding: 0 72px;
    max-width: 1440px;
    width: 100%;
}

.titleContainer {
    display: flex;
    gap: 24px;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    justify-self: center;
    align-self: center;
}

h1 {
    color: white;
}

.titleFirstLine {
    display: flex;
    align-items: center;
    line-height: 1;
    justify-content: space-between;

    & p {
        font-size: 128px;
        font-weight: 700;
        font-family: 'Bricolage Grotesque';

        &:hover {
            cursor: default;
        }
    }
}

.polaroid {
    display: flex;
    position: relative;
    filter: saturate(0%);
}

.polaroidFilterIn {
    animation: polaroidColorIn 300ms forwards ease-in-out;
}

.polaroidFilterOut {
    animation: polaroidColorOut 200ms forwards ease-in-out;
}

@keyframes polaroidColorIn {
    0% {
        filter: saturate(0%);
    }

    40% {
        filter: saturate(180%);
    }

    60% {
        filter: saturate(180%);
    }

    70% {
        filter: saturate(140%);
    }

    90% {
        filter: saturate(140%);
    }

    100% {
        filter: saturate(180%);
    }
}

@keyframes polaroidColorOut {
    0% {
        filter: saturate(180%);
    }

    100% {
        filter: saturate(0%);
    }
}

.secondHalf {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: end;
    gap: 24px;

    & span {
        color: white;
        font-family: 'Bricolage Grotesque';
        font-weight: 500;
        font-size: 18px;
        position: relative;
    }
}

.getInTouchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: solid 1px white;
    border-radius: 100px;
    padding: 12px 24px;
    position: relative;
    bottom: 0px;
    right: 0px;
    box-shadow: 4px 4px white;
    transition: all 175ms ease-in-out;

    &:hover {
        bottom: -4px;
        right: -4px;
        box-shadow: 0px 0px white;
        background-color: #E08C05;
        cursor: pointer;
    }
}

.letterBox {
    display: flex;
}

.titleSecondLine {
    display: flex;
    align-items: center;
    line-height: 1;

    & p {
        font-size: 128px;
        font-weight: 700;
        font-family: 'Bricolage Grotesque';

        &:hover {
            cursor: default;
        }
    }
}

.uperCase {
    animation: changeToLowerCase 300ms forwards ease-in;

    &:hover {
        animation: changeToUperCase 300ms forwards ease-in;
        color: #BAE011;
    }
}

.lowerCase {
    animation: changeToLowerCase 300ms forwards ease-in;
}

.uperCaseLetter {
    animation: changeToUperCase 300ms forwards ease-in;

    &:hover {
        animation: changeToLowerCase 300ms forwards ease-in;
        color: #BAE011;
    }
}

@keyframes changeToUperCase {
    0% {
        text-transform: lowercase;
        opacity: 1;
    }

    50% {
        opacity: 0.5;
        text-transform: uppercase;
    }

    100% {
        opacity: 1;
        text-transform: uppercase;
    }
}

@keyframes changeToLowerCase {
    0% {
        opacity: 1;
        text-transform: uppercase;
    }

    50% {
        opacity: 0.5;
        text-transform: lowercase;
    }

    100% {
        text-transform: lowercase;
        opacity: 1;
    }
}

.socialsContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.socials {
    display: flex;
    width: 40px;
    height: 40px;
    border: solid 1px white;
    border-radius: 100px;
    border-width: 1px;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.socialsBackgroundcolor {
    height: 0px;
    width: 0px;
    background-color: #7E4AE7;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    transition: all 175ms;
}

.Backgroundcolor {
    height: 40px;
    width: 40px;
}

.linkedIn {
    background-image: url(../../../assets/img/socials/linkedin.png);
}

.github {
    background-image: url(../../../assets/img/socials/github.png);
}

.email {
    background-image: url(../../../assets/img/socials/mail.png);
}

.fotoTitle {
    rotate: 8deg;
    position: absolute;
    bottom: -20px;
    width: max-content;
    right: 85px;
    z-index: 2;

    & span {
        cursor: default;
        position: relative;
        transition: all 300ms;
        font-family: 'Kalam';
        font-weight: 700;
        font-size: 24px;
        right: 0;
    }
}

.fotoTitleBounceAnimationReverse {
    animation: fotoTitleBounceReverse 300ms forwards ease-in-out;
}

.fotoTitleBounceAnimation {
    animation: fotoTitleBounce 300ms forwards ease-in-out;
}

@keyframes fotoTitleBounce {
    0% {
        right: 0px;
    }

    50% {
        right: 2px;
    }

    100% {
        left: 0px;
    }
}

@keyframes fotoTitleBounceReverse {
    0% {
        right: 1px;
    }

    50% {
        right: 2px;
    }

    100% {
        left: 0px;
    }
}

.polaroidFrame {
    position: absolute;
    bottom: -50px;
    right: 0px;
    z-index: 1;
}

.polaroidInnerPicture {
    position: absolute;
    bottom: 17px;
    right: 28px;
    height: 175px;
    width: 180px;
    rotate: 8deg;
}

a {
    text-decoration: none;
    color: white;
    border-radius: 100px;
}

.polaroidMobile {
    display: none;
    position: relative;
    filter: saturate(0%);
}

@media (hover: none) {
    .animationContainer {
        width: 200px !important;
        background-color: #7E4AE7;
    }

    .helloWorldText {
        left: 22px;
        transition: opacity 300ms ease-in;
        position: absolute;
        opacity: 0;
        z-index: 1;
    }

    .wavingHand {
        position: relative;
        height: 40px;
        width: 40px;
        opacity: 1;
        rotate: 0deg !important;
        align-self: flex-start;
    }

    .greating {
        opacity: 1;
    }

    .polaroid {
        filter: saturate(140%);
    }

    .polaroidFilterOut {
        animation: none;
    }

    .polaroidMobile {
        filter: saturate(140%);
    }
}

@media (max-width: 966px) {
    .content {
        padding: 0 32px;
    }

    .polaroidFrame {
        height: 200px;
    }

    .polaroidInnerPicture {
        bottom: 0px;
        right: 20px;
        height: 129px;
        width: 130px;
    }

    .fotoTitle {
        right: 50px;
        bottom: -32px;

        & span {
            font-size: 20px;
        }
    }
}

@media (max-width: 830px) {
    .titleFirstLine p {
        font-size: 110px;
    }

    .titleSecondLine p {
        font-size: 110px;
    }
}

@media (max-width: 750px) {
    .titleFirstLine p {
        font-size: 90px;
    }

    .titleSecondLine p {
        font-size: 90px;
    }

    .content {
        padding: 0 72px;
    }

    .polaroidFrame {
        height: 170px;
    }

    .fotoTitle {

        & span {
            font-size: 17px;
        }
    }

    .polaroidInnerPicture {
        bottom: -8px;
        right: 17px;
        height: 111px;
        width: 111px;
    }
}

@media (max-width: 730px) {
    .content {
        padding: 0 50px;
    }
}

@media (max-width:690px) {
    .content {
        padding: 0 30px;
    }
}

@media (max-width: 645px) {

    .content {
        justify-content: start;
        gap: 100px;
    }

    .socialsContainer {
        display: none;
    }

    .polaroid {
        display: none;
    }

    .polaroidMobile {
        display: flex;
        justify-content: center;
        height: 200px;
    }

    .polaroidFrame {
        position: absolute;
        bottom: 0px;
        right: unset;
        height: 250px;
    }

    .polaroidInnerPicture {
        position: absolute;
        bottom: 63px;
        height: 161px;
        width: 166px;
        right: unset;
    }

    .fotoTitle {
        bottom: 20px;
        right: -30px;

        & span {
            font-size: 20px;
        }
    }

    .polaroidMobileContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 545px) {
    .uperCase {
        font-size: 64px;
    }

    .titleFirstLine,
    .titleSecondLine {
        & p {
            font-size: 64px;
            margin: 0;
        }
    }

    .titleContainer {
        gap: 40px;
    }

    .content {
        gap: 100px;
        justify-content: start;
        align-items: center;
        padding: 0 16px;
    }
}

@media (max-width: 400px) {
    .uperCase {
        font-size: 64px;
    }

    .titleFirstLine,
    .titleSecondLine {
        & p {
            font-size: 56px;
        }
    }

    .titleContainer {
        gap: 40px;
    }

    .content {
        gap: 100px;
    }
}

@media (max-height: 800px) {

    .titleContainer {
        gap: 8px;
    }

    .content {
        gap: 60px;
    }
}