p {
    color: white;
}

.wavingHand {
    height: 40px;
    width: 40px;
}

.helloWorldContainer {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: end;

    & .animationContainer {
        position: relative;
        width: 145px;
        height: 40px;
        border: solid 1px white;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: default;
        text-wrap: nowrap;

        
        transition: all 300ms ease-in;

        color: white;
        margin: 0;
        text-align: center;
        float: right;

        &:hover {
            width: 180px;    
        }
    }
}

.backgroundColorContainer {
    z-index: 0;
    position: absolute;
    height: 40px;
    width: 80px;
    background-color: #3355FF;
    transition: width 300ms ease;
    border-radius: 0;
    opacity: 0;
    transition: all 300ms ease;
}

.increasBackground {
    width: 180px;
    border-radius: 100px;
    opacity: 1;
}

.helloWorldText {
    position: absolute;
    left: 30px;
    transition: opacity 300ms ease-in;
    opacity: 0;
    z-index: 1;
}

.greating {
    position: absolute;
    left: 30px;
    transition: opacity 300ms ease-in;
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.opacityEffect {
    opacity: 1 !important;
}

@keyframes changeBoxSize {
    0% {
        transform:opacity(1)
    }

    100% {
        transform:opacity(0)
    }
}




.TitleContainer {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}