.singleSkill {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 96px;
    height: 98px;
    gap: 4px;
    filter: grayscale(100%);
    transition: all 300ms;
    & img {
        transition: all 300ms;
        width: 72px;
        height: 72px;
    }
    & p {
        margin: 0;
        height: 22px;
        width: 96px;
        color: white;
        font-family: Bricolage Grotesque;
        font-weight: 400;
        font-size: 18px;
    }
    &:hover {
        filter: grayscale(0%);
        & img {
            width: 56px;
            height: 56px;
        }
    }
}

.d-none {
    display: none !important;
}

.stickerContainer {
    display: flex;
    position: relative;
}

.stickerContent {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 24px;
    position: relative;
    cursor: pointer;
}

.stickerArrow {
    height: 48px;
    width: 57px;
    rotate: -10deg;
}

.stickerTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: Kalam;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 2;
}

.stickerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 200px;
    width: 200px;
    rotate: 8deg;

    & img {
        height: 40px;
        width: 40px;
    }

    & span {
        font-family: Bricolage Grotesque;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        text-wrap-style: balance;
    }

    & div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        & div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }
}

.sticker {
    position: absolute;
    height: 200px;
    width: 200px;
    rotate: 8deg;
}