.body {
    color: white;
    background-color: black;
    background-image: url(../../assets/img/background/background_header.png);
    background-repeat: no-repeat;
    background-size: auto;
    padding: 80px;
    text-align: justify;
    max-width: 1440px;
    font-family: Bricolage Grotesque;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

    & h2 {
        font-size: 20px;
        text-decoration: underline;
    }

    & a {
        color: skyblue;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 2px ;
        }
    }
}

.content {
    background-color: #505050;
    border-radius: 40px;
    padding: 40px;
}

.title {
    font-family: Bricolage Grotesque;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline;
}

.goBackButton {
    display: flex;
    gap: 8px;
    width: fit-content;

    & img {
        height: 24px;
        width: 24px;
    }

    & p {
        font-family: Bricolage Grotesque;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        text-align: justify;
        margin: 0;

        &:hover {
            color: coral;
            cursor: pointer;
        }
    }
}

@media (max-width: 700px) {
    .body {
        padding: 8px;
    }
}