.body {
    color: white;
    background-color: white;
    background-image: url(../../assets/img/background/background_header.png);
    background-repeat: no-repeat;
    background-size: 150vh;
    text-align: justify;
    max-width: 1440px;
    height: 100vh;
    font-family: Bricolage Grotesque;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    gap: 24px;
    display: flex;
    flex-direction: column;
    & div {
        padding: 80px;
    }

    & h2 {
        font-size: 20px;
        text-decoration: underline;
        color: white;
    }

    & p {
        color: white;
    }

    & a {
        color: skyblue;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 2px ;
        }
    }
}

.goBackButton {
    display: flex;
    gap: 8px;
    width: fit-content;
    padding: 16px !important;

    & img {
        height: 24px;
        width: 24px;
    }

    & p {
        font-family: Bricolage Grotesque;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        text-align: justify;
        margin: 0;

        &:hover {
            color: coral;
            cursor: pointer;
        }
    }
}