.formContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    align-items: end;
}

form {
    width: 100%;
    padding-top: 90px;

    label {
        font-family: Bricolage Grotesque;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        width: 100%;
        color: white;
    }

    div {
        border-top: solid transparent 1px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 16px 0;

        &:hover {
            border-color: blue;
        }
    }
}

.checkbox {
    color: skyblue;
    margin: 8px;
    background-color: none;
    cursor: pointer;
}

.textInput {
    background: none;
    border: transparent;
    font-family: Bricolage Grotesque;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: white;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: white;
    }
}

:host ::ng-deep .ppLabel .mdc-form-field {
    --mdc-form-field-label-text-color: white;
}

:host ::ng-deep .ppLabel .mdc-checkbox {
  --mdc-checkbox-unselected-icon-color: #3355FF;
  --mdc-checkbox-unselected-hover-icon-color: #E08C05;
  --mdc-checkbox-unselected-hover-state-layer-color: #E08C05;
  --mdc-checkbox-unselected-pressed-state-layer-color: #E08C05;
  --mdc-checkbox-selected-icon-color: #3355FF;
  --mdc-checkbox-selected-pressed-icon-color: #576bd0;
  --mdc-checkbox-selected-pressed-state-layer-color: #E08C05;
  --mdc-checkbox-selected-hover-icon-color: #3355FF;
  --mdc-checkbox-selected-hover-state-layer-color: #E08C05;
  --mdc-checkbox-selected-checkmark-color: white;
  --mdc-checkbox-selected-focus-icon-color: #3355FF;
    --mdc-checkbox-unselected-icon-color: #3355FF;
    --mdc-checkbox-unselected-hover-icon-color: #E08C05;
    --mdc-checkbox-unselected-hover-state-layer-color: #E08C05;
    --mdc-checkbox-unselected-pressed-state-layer-color: #E08C05;
    --mdc-checkbox-selected-icon-color: #3355FF;
    --mdc-checkbox-selected-pressed-icon-color: red;
    --mdc-checkbox-selected-pressed-state-layer-color: #E08C05;
    --mdc-checkbox-selected-hover-icon-color: #3355FF;
    --mdc-checkbox-selected-hover-state-layer-color: #E08C05;
    --mdc-checkbox-selected-checkmark-color: white;
    --mdc-checkbox-selected-focus-icon-color: #3355FF;
}

section {
    display: flex;
    padding-top: 16px;
    flex-direction: column;
    gap: 8px;

    & a {
        color: #3355FF;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.privacyPolicyContainer {
    min-height: 20px;
    padding: 0 !important;
    border: none !important;
}

.privacyPolicyWarning {
    color: coral;
}

.border {
    border-bottom: solid 1px;
    border-color: #E08C05;
}

.borderOff {
    border-bottom: solid transparent 1px;
}

.letsTalkButton {
    height: 100%;
    width: 100%;
    max-width: 150px;
    max-height: 40px;
    align-items: center;
    border: solid 1px gray;
    border-radius: 100px;
    padding: 4px 24px !important;
    box-shadow: 2px 4px gray;
    justify-self: end;
    border-color: gray;
    position: absolute;
    right: 0px;
    bottom: -25px;
    transition: all 175ms;
    background-color: transparent;
    color: grey;

    font-family: Bricolage Grotesque;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
}

.letsTalkAktive {
    border-color: white !important;
    border: solid 1px white !important;
    color: white !important;
    box-shadow: 2px 4px white;

    &:hover {
        right: -2px;
        bottom: -29px;
        box-shadow: 0px 0px white;
        background-color: #E08C05;
        cursor: pointer;
        color: white;
    }
}

.invalidValue {
    color: coral !important;
}

.invalidValuePlaceholder {
    &::placeholder {
        color: red !important;
    }
}

.popup {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: black;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  z-index: 1000;
  text-align: center;
  & button {
    width: 80px;
    height: 24px;
    border-radius: 12px;
    box-shadow: 2px 4px gray;
    position: relative;
    transition: all 300ms;
    top: 0;
    left: 0;
    &:hover {
        cursor: pointer;
        background-color: #E08C05;
        color: white;
        box-shadow: 0px 0px gray;
        top: 4px;
        left: 2px;
    }
  }
}

@media (max-width: 900px) {
    .textInput {
        font-size: 17px;
    }
}

@media (max-width: 880px) {
    .textInput {
        font-size: 16px;
    }
}

@media (max-width: 820px) {
    .formContainer {
        max-width: unset;
    }

}
@media (max-width:376px) {

    .letsTalkButton {
        height: 40px;
        width: 152px;

    }

    section {
        padding: 40px 0 20px;
        gap: 8px;
    }

    .letsTalkButton {
        bottom: unset;
        &:hover {
            bottom: unset;
        }
    }

    form div {
        padding: 16px 0;
    }

    .textInput {
        font-size: 15px;
    }
}