<div class="formContainer">
    <form #form="ngForm" (ngSubmit)="onSubmit(contactForm)" autocomplete="off" #contactForm="ngForm">
        <div [ngClass]="{'borderOff' : hoverMid, 'border' : !hoverMid}">
            <label [ngClass]="{'invalidValue': nameInput.invalid && nameInput.touched || nameInput.invalid && clickedSend}" for="name">{{ "CONTACT_FORM.NAME" | translate}}</label>
            <input [ngClass]="{'invalidValuePlaceholder': !nameValid}" [(ngModel)]="data.name" id="name"
                [placeholder]="placeholderName" type="name" name="name" #nameInput="ngModel" class="textInput"
                pattern="^[A-Za-zÄÖÜäöüß ]{2,}$"
  minlength="2" required>
        </div>
        <div class="border" (mouseenter)="hoverMid=true" (mouseleave)="hoverMid=false"
            [ngClass]="{'borderOff' : hoverBot, 'border' : !hoverBot}">
            <label [ngClass]="{'invalidValue': emailInput.invalid && emailInput.touched || emailInput.invalid && clickedSend}" for="email">{{ "CONTACT_FORM.EMAIL" | translate}}</label>
            <input [ngClass]="{'invalidValuePlaceholder': !emailValid}" [(ngModel)]="data.email" id="email"
                [placeholder]="placeholderEmail" type="email" name="email" #emailInput="ngModel" class="textInput"
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
        </div>
        <div class="border" (mouseenter)="hoverBot=true" (mouseleave)="hoverBot=false">
            <label [ngClass]="{'invalidValue': messageInput.invalid && messageInput.touched || messageInput.invalid && clickedSend}" for="wdyw">{{ "CONTACT_FORM.WDYW" | translate}}</label>
            <input [ngClass]="{'invalidValuePlaceholder': !messageValid}" #messageInput="ngModel" [(ngModel)]="data.message" id="wdyw"
                [placeholder]="placeholderMessage" type="text" name="message" class="textInput" required>
        </div>
        <section>
            <mat-checkbox class="ppLabel" id="privacyPolicy" name="privacyPolicy" #privacyPolicy="ngModel"
                [(ngModel)]="data.isChecked" required>{{"CONTACT_FORM.PRIVACY_TEXT_FIRST" | translate}}<a  href="/privacyPolicy/#präambel">{{"CONTACT_FORM.PRIVACY_TEXT_LINK" | translate}}</a>{{"CONTACT_FORM.PRIVACY_TEXT_SECOND" | translate}}</mat-checkbox>
            <div class="privacyPolicyContainer">
                <span *ngIf="privacyPolicy.invalid && form.submitted || privacyPolicy.invalid && privacyPolicy.touched"
                    class="privacyPolicyWarning">{{"CONTACT_FORM.PRIVACY_POLICY" | translate}}</span>
            </div>
        </section>

        <button class="letsTalkButton" type="submit" [ngClass]="{'letsTalkAktive' : nameInput.valid && emailInput.valid && messageInput.valid && data.isChecked}">{{"CONTACT_FORM.SEND" | translate}}</button>
    </form>
</div>
<div *ngIf="emailSent" class="popup">
  <p>{{"CONTACT_FORM.FORM_SENDED_CONFIRM" | translate}}</p>
  <button (click)="closePopup()">OK</button>
</div>