html, body { 
  height: 100%;
  max-width: 1440px;
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
  background-color: black;
  scroll-behavior: smooth;
}

app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appSize {
  max-width: 1440px;
  width: 100%;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
 }

 app-project-view {
  max-width: 1440px;
  width: 100%;
 }

@font-face {
    font-display: swap; 
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/bricolage-grotesque-v7-latin-regular.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 500;
    src: url('../src/assets/fonts/bricolage-grotesque-v7-latin-500.woff2') format('woff2'); 
  }
 
  @font-face {
    font-display: swap; 
    font-family: 'Bricolage Grotesque';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/bricolage-grotesque-v7-latin-700.woff2') format('woff2'); 
  }

@font-face {
  font-display: swap;
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/kalam-v17-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/kalam-v17-latin-700.woff2') format('woff2');
}