html,
body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: auto;
}

[id] { scroll-margin-top: 72px; } 

a,
a:visited {
  text-decoration: none;
}

.d-none {
  display: none;
}

app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appSize {
  max-width: 1440px;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-project-view {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

app-navbar {
  display: flex;
  width: 100vw;
  align-self: center;
}

app-main-content {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
}

app-footer {
  display: flex;
  max-width: 1440px;
  width: 100%;
  flex-direction: column;
  padding: 0 70px 0 55px;
}

@media (max-width: 820px) {
  app-footer {
    padding: 0 16px;
  }
}

app-privacy-policy {
  display: flex;
  width: 100%;
  flex-direction: column;
}

app-legal-notice {
  display: flex;
  width: 100%;
  flex-direction: column;
}

@font-face {
  font-display: swap;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/bricolage-grotesque-v7-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 500;
  src: url('../src/assets/fonts/bricolage-grotesque-v7-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/bricolage-grotesque-v7-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/kalam-v17-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/kalam-v17-latin-700.woff2') format('woff2');
}

@media (max-width: 920px) {
  app-project-view {
    height: unset;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}